@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: "Fauna One", serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5 {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

#website {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.logo img {
    width: 240px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.banner {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: #AF47E8;
    position: relative;
}

.banner-image {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    background-image: url("nahledovka.jpg");
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
    opacity: 1;
}

.banner-image:hover {
    transform: scale(1);
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0px 30px;
    border-radius: 10px;
}

.banner-text h1 {
    font-size: 48px;
    font-weight: bold;
}

.banner-text p {
    font-size: 24px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.features {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

.feature {
    width: 30%; 
    border: 1px solid #ccc;
    padding: 15px; 
    box-sizing: border-box; 
}

.heading {
    text-align: center;
    padding: 30px 0;
}

.heading h2 {
    font-size: 28px;
}

.theme-primary {
    background-color: rgb(84, 153, 51);
    color: white;
}

.theme-primary .btn {
    background-color: white;
    color: black;
}

.product {
    display: flex;
    margin-bottom: 20px;
    background-color: #e6e6e6;
}

.product-info {
    padding: 40px;
    flex: 1;
}

.product-image {
    flex: 1;
}

.product-image img {
    max-width: 100%;
}

.product.reverse {
    flex-direction: row-reverse;
}

.theme-primary {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50; 
}

.theme-primary h2 {
    color: #333; 
}

.btn {
    background-color: #a5d61f; 
    color: white; 
    border: none;
    padding: 15px 30px; 
    text-align: center; 
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #cfcfc7; /* Darker background color on hover */
}

.contact {
    display: flex;
    background-color: #e6e6e6;
}

.contact-box {
    flex: 1;
    padding: 20px 40px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px 0;
  }
  
  .feature {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  
  .feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border-top: 3px solid #4CAF50;
  }
  
  .feature:hover h3 {
    color: #4CAF50;
  }