@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
	font-family: "Fauna One", serif;
  	font-weight: 400;
  	font-style: normal;
}

h1,h2,h3,h4,h5 {
	font-family: "Libre Baskerville", serif;
	font-weight: 700;
	font-style: normal;
}


#website {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.logo img {
	width: 240px;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 20px;
}

.banner {
	width: 100%;
	height: 500px;
	overflow: hidden;
	background-color: #AF47E8;
}
.banner-image {
	width: 100%;
	height: 100%;
	transform: scale(1.1);
	background-image: url("nahledovka.jpg");
	background-size: cover;
	background-position: center;
	transition: all .5s;
	opacity: 1;
}

.banner-image:hover {
	transform: scale(1);
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.9);
    background-color: rgba(0,0,0,.7);
    padding: 0px 30px;
    border-radius:10px;
}

.banner-text h1 {
	font-size: 48px;
	font-weight: bold;
}

.banner-text p {
	font-size: 24px;
} 

.heading {
	text-align: center;
	margin-bottom: 20px;
}
.features {
    display: flex; /* Aktivace flexboxu */
    flex-wrap: wrap; /* Zajištění zalomení prvků na další řádek při nedostatku místa */
    justify-content: center; /* Zarovná prvky do středu */
}

.feature {
    width: 30%; /* Každý prvek zabere 30 % šířky */
    border: 1px solid #ccc; /* Ohraničení pro lepší viditelnost */
    padding: 15px; /* Vnitřní mezery */
    box-sizing: border-box; /* Zabrání zvětšování prvku kvůli paddingu */

	*/
}

.heading {
    text-align: center;
    padding: 30px 0;
}

.heading h2 {
    font-size: 28px;
}

.theme-primary {
    background-color: rgb(84, 153, 51);
    color: white;
}

.theme-primary .btn {
    background-color: white;
    color: black;
}

.heading {
    text-align: center;
    padding: 30px 0;
}

.heading h2 {
    font-size: 28px;
}

.product {
    display: flex;
    margin-bottom: 20px;
    background-color: #e6e6e6;
}

.product-info {
    padding: 40px;
    flex: 1;
}

.product-image {
    flex: 1;
}

.product-image img {
    max-width: 100%;
}

.product.reverse {
    flex-direction: row-reverse;
}



.theme-primary {
    text-align: center; /* Center align the content */
    padding: 20px;
    background-color: #99cc22; /* Light background color for the container */
}

.theme-primary h2 {
    color: #333; /* Text color for the heading */
}

.btn {
    background-color: #a5d61f; /* Initial button background color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    padding: 15px 30px; /* Padding for the button */
    text-align: center; /* Center align text */
    display: inline-block; /* Make the button inline-block for better control */
    font-size: 16px; /* Font size */
    margin: 10px 2px; /* Margin around the button */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.btn:hover {
    background-color: #cfcfc7; /* Darker background color on hover */
}